<section class="w3l-footer-29-main">
  <div class="footer-29 py-5">
    <div class="container py-lg-4">
      <div class="row footer-top-29">
        <div class="col-lg-4 col-md-6 footer-list-29 footer-1 pr-lg-5">
          <div class="footer-logo mb-4">
            <a class="navbar-brand" href="/">
              <span class="fa fa-cc-visa visa-icon"></span> Website gửi 
              <br>tiền tiết kiệm</a>
          </div>
          <p>Website là nơi mà mọi người có thể gửi tiền tiết kiệm một cách an toàn với lãi suất 
            vô cùng hấp dẫn. Chúng tôi đảm bảo quy trình gửi/nhận tiết kiệm sẽ được thực hiện một cách 
            công bằng, an toàn và uy tín.</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-5 col-5 footer-list-29 footer-2 mt-md-0 mt-5">

          <ul>
            <h6 class="footer-title-29">Quick Links</h6>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#"> Blog chia sẽ</a></li>
            <li><a href="#"> Tham khảo</a></li>
            <li><a href="#">Dịch vụ</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-7 col-7 footer-list-29 footer-3 mt-lg-0 mt-5">
          <h6 class="footer-title-29">Địa chỉ</h6>
          <p class="mb-3"> HCMUTE, 01 Võ Văn Ngân, phường Linh Chiểu, TP. Thủ Đức, TP. HCM </p>
          <p class="mb-2"> <span class="fa fa-phone"></span> <a href="tel:">+84</a></p>
          <p class="mb-2"><span class="fa fa-envelope-o"></span> <a href="mailto:info@mail.com">info@mail.com</a></p>
          <p><span class="fa fa-support"></span> <a href="mailto:info@support.com">info@support.com</a></p>
        </div>
        <div class="col-lg-3 col-md-6 footer-list-29 footer-4 mt-lg-0 mt-5">
          <h6 class="footer-title-29">Latest news</h6>
          <div class="post1">
            <a href="https://edition.cnn.com/2021/11/25/economy/germany-minimum-wage/index.html" class="post-title">Germany is giving nearly two million workers a 25% pay rise</a>
            <p class="small">November 25, 2021</p>
          </div>
          <div class="post1 mt-4">
            <a href="https://edition.cnn.com/2021/11/25/business/wine-liquor-shortage-uk-christmas/index.html" class="post-title">UK faces shortage of wine and liquor before Christmas</a>
            <p class="small">November 25, 2021</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <section class="w3l-copyright text-center">    
    <div class="container">
      <p class="copy-footer-29">© 2020 Bank Cards. All rights reserved.</p>
    </div><!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>
  <!-- //copyright -->
</section>
<!-- //footer -->