<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- toggle switch for light and dark theme -->
  <div class="mobile-position">
    <nav class="navigation">
      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox">
          <div class="mode-container">
            <i class="gg-sun"></i>
            <i class="gg-moon"></i>
          </div>
        </label>
      </div>
    </nav>
  </div>
  <li class="nav-item dropdown">
    {{#if username}}
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" style="color: white;">
      {{username}}
    </a>
    {{else}}
    <a class="nav-link" href="/Login" style="color: white;">Login</a>
    {{/if}}
    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
      <li><a class="dropdown-item" href="/TaiKhoan">Tài Khoản</a></li>
      <li><a class="dropdown-item" href="/NapTien">Nạp Tiền</a></li>
      <li><a class="dropdown-item" href="/RutTien">Rút Tiền</a></li>
      <li><a class="dropdown-item" href="/TaiKhoan/ChuyenTien">Chuyển Tiền</a></li>
      <li><a class="dropdown-item" href="/SoTietKiem">Sổ Tiết Kiệm</a></li>
      <li><a class="dropdown-item" href="/LichSuChuyenTien">Lịch Sử Chuyển Tiền</a></li>
      <li><a class="dropdown-item" href="/LichSuNapRut">Lịch Sử Nạp Rút</a></li>
      <li><a class="dropdown-item" href="/LichSuGuiTietKiem">Lịch Sử Gửi</a></li>
      <li><a class="dropdown-item" href="/TaiKhoan/DoiMatKhau">Đổi Mật Khẩu</a></li>
      <li><a class="dropdown-item" href="/DangXuat">Đăng Xuất</a></li>
    </ul>
  </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#cacgoitietkiem">Gói Tiết kiệm <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/SoTietKiem">Sổ Tiết Kiệm</a>
      </li>
      <li class="nav-item">
        <label class="nav-link">Tỷ giá USD: 23300 VNĐ</label>
      </li>
    </ul>
  </div>
  {{#if isAdmin}}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" style="color: white;">
      Admin {{username}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/SoTietKiem/TatCaSo">Tất Cả Sổ Tiết Kiệm</a>
      <a class="dropdown-item" href="/TaiKhoan/XemTatCaNguoiDung">Tất Cả Người Dùng</a>
      <a class="dropdown-item" href="/GoiTietKiem/Them">Thêm Gói Tiết Kiệm</a>
    </div>
  </li>
  {{/if}}
  <form class="form-inline my-2 my-lg-0" method="get" action="/GoiTietKiem">
    <input class="form-control mr-sm-2" type="Search" name="Search" id="Search" placeholder="Search" aria-label="Search"
      value="{{Search}}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>