<div class="row px-3">
  <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
    <div class="img-left d-none d-md-flex"></div>
    <img src="/img/login.jpg">
    <div class="card-body">
      <h4 class="title text-center mt-4">
        Đăng nhập
      </h4>
      <form class="form-box px-3" method="POST" action="/login">
        <p>{{message}}</p>
        <div class="form-input">
          <span><i class="fa fa-envelope-o"></i></span>
          <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tài khoản"
            tabindex="10" required>
        </div>
        <div class="form-input">
          <span><i class="fa fa-key"></i></span>
          <input type="password" class="form-control" id="password" name="password" placeholder="Nhập password"
            required>
        </div>
        <div class="mb-3 text-center mt-4">
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>