<form method="post" action="/TaiKhoan/TaoThongTin">
    <p>{{message}}</p>
    <div class="form-group">
        <label for="exampleInputEmail1">Tên Tài Khoản: </label>
        <input type="text" class="form-control" id="TenTK" name="TenTK" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">email: </label>
        <input type="text" class="form-control" id="email" name="email" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">CCCD:</label>
        <input type="text" class="form-control"name="CCCD">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Ngày Sinh: yyyy-mm-dd</label>
        <input type="date" class="form-control"name="NgaySinh" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Số Tài Khoản: </label>
        <input type="text" class="form-control"name="STK" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>